.figef-letter-e, .figef-letter-f{
  animation: fig-letter 4s ease infinite alternate;
  stroke-width: 4;
  stroke-dasharray: 0 400;
  stroke-opacity: 1;
}

.figef-letter-f{
  z-index: 2;
}

@keyframes fig-letter {
  0%{
    stroke-width: 4;
    stroke-dasharray: 1 400;
    stroke-opacity: 1;
  }
  60%,100%{
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }

}