.figef-letter-e, .figef-letter-f{
  animation: fig-letter 4s ease infinite alternate;
  stroke-width: 4;
  stroke-dasharray: 0 400;
  stroke-opacity: 1;
}

.figef-letter-f{
  z-index: 2;
}

@keyframes fig-letter {
  0%{
    stroke-width: 4;
    stroke-dasharray: 1 400;
    stroke-opacity: 1;
  }
  60%,100%{
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }

}

.line {
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both,
    // teste 5s ease 5s infinite alternate;
}

@keyframes teste {
  from {
  }
  to {
    /* border-right: 1px solid rgba(255, 255, 255, 0.75); */
    border-right: none;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes blinkCursor {
  0% {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }        
  100% {
    border-right: transparent;
  }
}